pkgbase = patched-mullvad-vpn-bin
	pkgdesc = Unofficial patched Mullvad VPN client app
	pkgver = 2026.2.beta1
	pkgrel = 1
	url = https://github.com/tritaum/ip-split-tunneling-mullvad
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-or-later
	depends = alsa-lib
	depends = gtk3
	depends = iputils
	depends = libnftnl
	depends = libnotify
	depends = nss
	source = patched-mullvad-vpn.sh
	sha256sums = a59c29f07b4eab9af56f0e8be42bae0d83726f5185e88de0c5a48f4098c3c0a4
	source_x86_64 = https://github.com/tritaum/ip-split-tunneling-mullvad/releases/download/2026.2-beta1/MullvadVPN-2026.2-beta1_amd64.deb
	sha256sums_x86_64 = SKIP
	source_aarch64 = https://github.com/tritaum/ip-split-tunneling-mullvad/releases/download/2026.2-beta1/MullvadVPN-2026.2-beta1_arm64.deb
	sha256sums_aarch64 = SKIP

pkgname = patched-mullvad-vpn-bin
	pkgdesc = Unofficial patched Mullvad VPN client app (desktop application)
	install = patched-mullvad-vpn.install
	depends = alsa-lib
	depends = gtk3
	depends = iputils
	depends = libnftnl
	depends = libnotify
	depends = nss
	depends = patched-mullvad-vpn-daemon-bin
	optdepends = libappindicator: tray icon
	provides = mullvad-vpn
	conflicts = mullvad-vpn
	conflicts = mullvad-vpn-bin
	conflicts = patched-mullvad-vpn

pkgname = patched-mullvad-vpn-daemon-bin
	pkgdesc = Unofficial patched Mullvad VPN client app (daemon and CLI)
	install = patched-mullvad-vpn-daemon.install
	depends = dbus
	depends = iputils
	depends = libnftnl
	provides = mullvad-vpn-daemon
	conflicts = mullvad-vpn-daemon
	conflicts = mullvad-vpn-daemon-bin
	conflicts = patched-mullvad-vpn-daemon
