<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdServingDomain</key>
	<string>$(AD_SERVING_DOMAIN)</string>
	<key>AmIJSONUrl</key>
	<string>$(AM_I_JSON_URL)</string>
	<key>ApiEndpoint</key>
	<string>$(API_ENDPOINT)</string>
	<key>ApiHostName</key>
	<string>$(API_HOST_NAME)</string>
	<key>AttachAppLogsOnFailure</key>
	<string>${ATTACH_APP_LOGS_ON_FAILURE}</string>
	<key>DisplayName</key>
	<string>$(DISPLAY_NAME)</string>
	<key>FirewallApiBaseURL</key>
	<string>$(FIREWALL_API_BASE_URL)</string>
	<key>HasTimeAccountNumber</key>
	<string>$(HAS_TIME_ACCOUNT_NUMBER)</string>
	<key>IOSDevicePinCode</key>
	<string>$(IOS_DEVICE_PIN_CODE)</string>
	<key>NoTimeAccountNumber</key>
	<string>$(NO_TIME_ACCOUNT_NUMBER)</string>
	<key>PartnerApiToken</key>
	<string>$(PARTNER_API_TOKEN)</string>
	<key>ShouldBeReachableDomain</key>
	<string>$(SHOULD_BE_REACHABLE_DOMAIN)</string>
	<key>TestDeviceIdentifier</key>
	<string>$(TEST_DEVICE_IDENTIFIER_UUID</string>
	<key>TestDeviceIsIPad</key>
	<string>$(TEST_DEVICE_IS_IPAD)</string>
	<key>UninstallAppInTestSuiteTearDown</key>
	<string>$(UNINSTALL_APP_IN_TEST_SUITE_TEAR_DOWN)</string>
</dict>
</plist>
