# Systemd unit for running app tests and sending a status report
# to the given set of email addresses.
#
[Unit]
Description="Mullvad VPN app tests"

[Service]
Type=oneshot
ExecStart=/home/test/mullvadvpn-app/test/ci-runtests-and-report.sh
Environment="ACCOUNT_TOKENS=/path/to/file"
Environment="RECIPIENT_EMAIL_ADDRS=example1@email.addr example2@email.addr"
