@font-face {
  font-family: 'Source Sans Pro';
  font-weight: bold 900;
  src: url('../fonts/SourceSansPro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans Myanmar';
  font-weight: bold 900;
  src: url('../fonts/NotoSansMyanmar-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans Thai';
  font-weight: bold 900;
  src: url('../fonts/NotoSansThai-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  src: url('../fonts/OpenSans-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  src: url('../fonts/OpenSans-Semibold.ttf') format('truetype');
}
