* {
  box-sizing: border-box;
}

:focus {
  outline: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  user-select: none;
  cursor: default;
  height: 100%;
  width: 100%;
}

img {
  -webkit-user-drag: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
}

/*
 Temporary fix for placeholder colors until the following PR lands in master:
 https://github.com/Microsoft/reactxp/pull/868
 */

* [data-test-id='AccountInput']::placeholder {
  color: rgba(41, 77, 115, 0.4);
}

* [data-test-id='CellInputField']::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
