[package]
name = "talpid-channels"
description = "Extra channel abstractions and extensions"
authors.workspace = true
repository.workspace = true
license.workspace = true
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[dependencies]
thiserror = { workspace = true }
futures = { workspace = true }
