[package]
name = "talpid-wireguard"
edition.workspace = true
rust-version.workspace = true
description = "Library for creating various WireGuard tunnels"
repository.workspace = true
license.workspace = true

[dependencies]
async-trait = "0.1"
byteorder = "1"
chrono = { workspace = true, features = ["clock"], optional = true }
futures = { workspace = true }
gotatun = { workspace = true, features = ["daita", "device", "tun"] }
hex = "0.4"
internet-checksum = "0.2"
ipnetwork = { workspace = true }
log = { workspace = true }
once_cell = { workspace = true }
parking_lot = "0.12.0"
rand = { workspace = true }
socket2 = { workspace = true, features = ["all"] }
surge-ping = "0.8.0"
talpid-routing = { path = "../talpid-routing" }
talpid-tunnel = { path = "../talpid-tunnel" }
talpid-tunnel-config-client = { path = "../talpid-tunnel-config-client" }
talpid-types = { path = "../talpid-types" }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["fs", "process", "rt-multi-thread"] }
tokio-stream = { version = "0.1", features = ["io-util"] }
tun08 = { package = "tun", version = "0.8.5", default-features = false, features = [
  "async",
] }
tunnel-obfuscation = { path = "../tunnel-obfuscation" }
wireguard-go-rs = { path = "../wireguard-go-rs", optional = true }

[dev-dependencies]
insta = { workspace = true }
proptest = { workspace = true }
tokio = { workspace = true, features = ["test-util"] }

[target.'cfg(any(target_os = "linux", target_os = "macos"))'.dependencies]
talpid-net = { path = "../talpid-net" }

[target.'cfg(target_os = "linux")'.dependencies]
netlink-packet-core = { workspace = true }
netlink-packet-route = { workspace = true }
netlink-proto = { workspace = true }
rtnetlink = { workspace = true }
talpid-dbus = { path = "../talpid-dbus" }
zerocopy = { workspace = true, features = ["derive"] }

[target.'cfg(unix)'.dependencies]
libc = "0.2.150"
nix = { workspace = true, features = ["fs"] }

[target.'cfg(windows)'.dependencies]
bitflags = "1.2"
chrono = { workspace = true, features = ["clock"] }
talpid-windows = { path = "../talpid-windows" }
widestring = { workspace = true }
windows-sys = { workspace = true }

[features]
multihop-pcap = ["gotatun/pcap"]
wireguard-go = [
  "dep:chrono",
  "dep:wireguard-go-rs",
  "talpid-tunnel/wireguard-go"
]

[lints]
workspace = true
