#include "../../../version.h"

1 VERSIONINFO
FILEVERSION     MAJOR_VERSION,MINOR_VERSION,PATCH_VERSION,0
PRODUCTVERSION  MAJOR_VERSION,MINOR_VERSION,PATCH_VERSION,0
BEGIN
BLOCK "StringFileInfo"
BEGIN
    BLOCK "040904E4"
    BEGIN
        VALUE "CompanyName", "Mullvad VPN AB"
        VALUE "FileDescription", "Mullvad VPN firewall module"
        VALUE "FileVersion", PRODUCT_VERSION
        VALUE "InternalName", "winfw"
        VALUE "LegalCopyright", "(c) 2023 Mullvad VPN AB"
        VALUE "OriginalFilename", "winfw.dll"
        VALUE "ProductName", "Mullvad VPN"
        VALUE "ProductVersion", PRODUCT_VERSION
    END
END
BLOCK "VarFileInfo"
BEGIN
    VALUE "Translation", 0x409, 1252
END
END
