{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "plugins": [ "react", "flowtype" ],
  "rules": {
    "prefer-const": "warn",
    "no-console": "off",
    "no-loop-func": "warn",
    "new-cap": "off",
    "no-trailing-spaces": [ "error", { "skipBlankLines": true } ],
    "no-param-reassign": "warn",
    "func-names": "off",
    "comma-dangle": "off",
    "comma-spacing": "warn",
    "no-unused-expressions" : "error",
    "no-unused-vars": ["error", {
      "args": "all",
      "argsIgnorePattern": "_.*",
      "varsIgnorePattern": "_.*"
    }],
    "block-scoped-var": "error",
    "react/prop-types": "off",
    "flowtype/define-flow-type": "warn"
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "16.2",
      "flowVersion": "0.66"
    }
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  }
}
