[submodule "wfpctl/libwfp"]
	path = wfpctl/libwfp
	url = https://github.com/mullvad/libwfp.git
[submodule "dist-assets/binaries"]
	path = dist-assets/binaries
	url = https://github.com/mullvad/mullvadvpn-app-binaries
