[submodule "client-binaries"]
	path = client-binaries
	url = https://github.com/mullvad/client-binaries.git
[submodule "talpid-core/wfp"]
	path = talpid-core/wfp
	url = git@github.com:mullvad/wfp.git
