# Set the default behavior
* text=auto

# Do not break script files on Windows, Bash expects LF
*.sh text eol=lf

# Use LF for Rust because rustfmt works best like that
*.rs text eol=lf

wireguard-go-windows/go.mod text eol=lf
wireguard-go-windows/go.sum text eol=lf
