/target/
/gui/node_modules
/gui/packages/**/node_modules
/gui/packages/**/build
/gui/packages/mobile/android
/gui/packages/mobile/ios
/dist
.DS_Store
*.log
/dist-assets/relays.json
/windows/**/bin/
**/.vs/
*.bak
