/target/
/gui/node_modules
/gui/build
/gui/scripts/ne_10m_populated_places/
/gui/scripts/ne_50m_admin_0_countries/
/gui/scripts/ne_50m_admin_1_states_provinces_lines/
/gui/scripts/out/
/gui/src/main/management_interface/
/gui/test/e2e/screenshots/
/gui/test-results/
/build/
/dist
.idea/
.DS_Store
*.log
/dist-assets/mullvad
/dist-assets/mullvad.exe
/dist-assets/mullvad-daemon
/dist-assets/mullvad-daemon.exe
/dist-assets/mullvad-exclude
/dist-assets/mullvad-setup
/dist-assets/mullvad-setup.exe
/dist-assets/mullvad-problem-report
/dist-assets/mullvad-problem-report.exe
/dist-assets/libtalpid_openvpn_plugin.dylib
/dist-assets/libtalpid_openvpn_plugin.so
/dist-assets/talpid_openvpn_plugin.dll
/dist-assets/openvpn
/dist-assets/openvpn.exe
/dist-assets/aarch64-apple-darwin/
/dist-assets/x86_64-apple-darwin/
/windows/version.h
/windows/**/bin/
/windows/**/*.user
/android/keystore.properties
/android/local.properties
/android/play-api-key.json
/wireguard/libwg/libwg.h
/wireguard/libwg/libwg.exp
/wireguard/libwg/exports.def
**/.vs/
*.bak
android/.idea
