[workspace.package]
version = "0.0.0"
authors = ["Mullvad VPN"]
repository = "https://github.com/mullvad/mullvadvpn-app/"
license = "GPL-3.0"
edition = "2021"
publish = false

[workspace]
resolver = "2"
members = [
    "android/translations-converter",
    "ios/MullvadTransport/shadowsocks-proxy",
    "ios/TunnelObfuscation/tunnel-obfuscator-proxy",
    "mullvad-daemon",
    "mullvad-cli",
    "mullvad-fs",
    "mullvad-setup",
    "mullvad-problem-report",
    "mullvad-jni",
    "mullvad-paths",
    "mullvad-relay-selector",
    "mullvad-types",
    "mullvad-api",
    "mullvad-exclude",
    "mullvad-version",
    "mullvad-nsis",
    "talpid-openvpn-plugin",
    "talpid-core",
    "talpid-dbus",
    "talpid-openvpn",
    "talpid-platform-metadata",
    "talpid-routing",
    "talpid-time",
    "talpid-tunnel",
    "talpid-tunnel-config-client",
    "talpid-windows-net",
    "talpid-wireguard",
    "mullvad-management-interface",
    "tunnel-obfuscation",
]

[workspace.dependencies]
tokio = { version = "1.8" }

[profile.release]
opt-level = 3
lto = true

# Key generation may take over one minute without optimizations
# enabled.
[profile.dev.package."classic-mceliece-rust"]
opt-level = 3
