[workspace.package]
authors = ["Mullvad VPN"]
repository = "https://github.com/mullvad/mullvadvpn-app/"
license = "GPL-3.0"
edition = "2021"
rust-version = "1.77.0"

[workspace]
resolver = "2"
members = [
    "android/translations-converter",
    "mullvad-api",
    "mullvad-cli",
    "mullvad-daemon",
    "mullvad-exclude",
    "mullvad-fs",
    "mullvad-ios",
    "mullvad-jni",
    "mullvad-management-interface",
    "mullvad-nsis",
    "mullvad-paths",
    "mullvad-problem-report",
    "mullvad-relay-selector",
    "mullvad-setup",
    "mullvad-types",
    "mullvad-types/intersection-derive",
    "mullvad-version",
    "talpid-core",
    "talpid-dbus",
    "talpid-future",
    "talpid-openvpn",
    "talpid-openvpn-plugin",
    "talpid-platform-metadata",
    "talpid-routing",
    "talpid-time",
    "talpid-tunnel",
    "talpid-tunnel-config-client",
    "talpid-windows",
    "talpid-wireguard",
    "tunnel-obfuscation",
    "wireguard-go-rs",
]

# Keep all lints in sync with `test/Cargo.toml`
[workspace.lints.rust]
# Security
non_ascii_idents = "forbid"

# Deny old style Rust
rust_2018_idioms = "deny"
macro_use_extern_crate = "deny"
absolute_paths_not_starting_with_crate = "deny"

# Easy to read style and opinionated best practices
explicit_outlives_requirements = "warn"
missing_abi = "deny"
unused_lifetimes = "warn"
unused_macro_rules = "warn"
single_use_lifetimes = "warn"


[workspace.lints.clippy]
unused_async = "deny"

[workspace.dependencies]
tokio = { version = "1.8" }
# Tonic and related crates
tonic = "0.10.0"
tonic-build = { version = "0.10.0", default-features = false }
tower = "0.4"
prost = "0.12.0"
prost-types = "0.12.0"

env_logger = "0.10.0"
thiserror = "1.0.57"
log = "0.4"

shadowsocks = { version = "1.16" }
shadowsocks-service = { version = "1.16" }

windows-sys = "0.52.0"

chrono = { version = "0.4.26", default-features = false }
clap = { version = "4.4.18", features = ["cargo", "derive"] }
once_cell = "1.13"

# Test dependencies
proptest = "1.4"

[profile.release]
opt-level = 3
lto = true
strip = true

# Key generation may take over one minute without optimizations
# enabled.
[profile.dev.package."classic-mceliece-rust"]
opt-level = 3
