[package]
name = "wireguard-go-rs"
description = "Rust bindings to wireguard-go with DAITA support"
edition.workspace = true
license.workspace = true

[build-dependencies]
anyhow.workspace = true

[dependencies]
thiserror.workspace = true
log.workspace = true
zeroize = "1.8.1"

talpid-types.path = "../talpid-types"

# On platforms where maybenot and wireguard-go can be built statically (Linux and macOS) we use
# this hack to include it. The hack is that we depend on this crate here even if neither
# wireguard-go-rs nor its upstream dependants use it.
# This is only here so that maybenot-ffi is built and its symbols are available to wireguard-go
# at link time.
# NOTE: for other platforms, maybenot-ffi is NOT declared here, but instead built directly from
# wireguard-go-rs/libwg/wireguard-go/maybenot-ffi
[target.'cfg(any(target_os = "linux", target_os = "macos"))'.dependencies]
maybenot-ffi = "2.2.2"

[target.'cfg(target_os = "windows")'.dependencies]
windows-sys = { workspace = true, features = [
  "Win32_Networking",
  "Win32_NetworkManagement",
  "Win32_NetworkManagement_Ndis",
  "Win32_Networking_WinSock",
] }
