.advanced-settings {
  background: #192E45;
  height: 100%;
}

.advanced-settings__container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.advanced-settings__main {
  margin-bottom: 24px;
}

.advanced-settings__header {
  flex: 0 0 auto;
  padding: 40px 24px 24px;
  position: relative; /* anchor for close button */
}

.advanced-settings__content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.advanced-settings__section-title {
  background-color:rgb(41, 71, 115);
  padding: 15px 24px;
  font-family: DINPro;
  font-size: 20px;
  font-weight: 900;
  line-height: 26px;
  color: #fff;
}

.advanced-settings__title {
  font-family: DINPro;
  font-size: 32px;
  font-weight: 900;
  line-height: 40px;
  color: #FFFFFF;
}

.advanced-settings__cell {
  background-color:rgb(41, 71, 115);
  padding: 15px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.advanced-settings__cell--dimmed {
  background-color: rgb(36, 57, 84);
}

.advanced-settings__cell--dimmed:hover {
  background-color: rgba(41, 71, 115, 0.9);
}

.advanced-settings__cell--selected,
.advanced-settings__cell--selected:hover {
  background-color: #44AD4D;
}

.advanced-settings__cell--active:hover {
  background-color: rgba(41, 71, 115, 0.9);
}

.advanced-settings__section-title + .advanced-settings__cell,
.advanced-settings__cell + .advanced-settings__cell {
  margin-top: 1px;
}

.advanced-settings__cell-label {
  font-family: DINPro;
  font-size: 20px;
  font-weight: 900;
  line-height: 26px;
  color: #FFFFFF;
  flex: 1 0 auto;
}

.advanced-settings__cell-icon {
  width: 24px;
  flex: 0 0 auto;
  margin-right: 8px;
  color: #fff;
}

.advanced-settings__cell-spacer {
  height: 24px;
}
