.headerbar {
  padding: 12px;
  background-color: #294D73;
  transition: 0.5s background-color ease-in-out;
}

/* macOS app runs as menubar app so create arrow and add extra padding */
.headerbar--darwin {
  padding-top: 24px;
  -webkit-mask: 
    url(../assets/images/app-triangle.svg) 50% 0% no-repeat,
    url(../assets/images/app-header-backdrop.svg) no-repeat;
}

.headerbar--hidden {
  padding: 24px 0 0 0;
}

.headerbar--style-defaultDark {
  background-color: #192E45;
}

.headerbar--style-defaultDark:before {
  background-image: url(../assets/images/app-triangle-default-dark.svg);
}

.headerbar--style-error {
  background-color: #D0021B;
}

.headerbar--style-error:before {
  background-image: url(../assets/images/app-triangle-error.svg);
}

.headerbar--style-success {
  background-color: #44AD4D;
}

.headerbar--style-success:before {
  background-image: url(../assets/images/app-triangle-success.svg);
}

.headerbar__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerbar__title {
  font-family: DINPro;
  font-size: 24px;
  font-weight: 900;
  line-height: 30px;
  letter-spacing: -0.5px;
  color: rgba(255,255,255,0.6);
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
}

.headerbar__logo {
  height: 50px;
  display: inline-block;
  vertical-align: middle;
}

.headerbar__settings {
  display: block;
  border: 0;
  padding: 0;
  margin: 0 0 0 auto;
  width: 24px;
  height: 24px;
  background-color: transparent;
  background-image: url(../assets/images/icon-settings.svg);
}
