/* macOS app runs as menubar; create an app chrome with arrow using mask */
.window-chrome--darwin {
  -webkit-mask:
  url(../assets/images/app-triangle.svg) 50% 0% no-repeat,
  url(../assets/images/app-header-backdrop.svg) no-repeat;
}

.window-chrome {
  flex: 1 1 auto;
  height: 100%;
  width: 100%;
  display: flex;
}