[package]
name = "intersection-derive"
edition.workspace = true
rust-version.workspace = true
description = "Derive macro for the `Intersection` trait"
repository.workspace = true
license.workspace = true

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1"
quote = "1"
syn = "2"
