<!-- mobsf-ignore: android_task_hijacking2 -->
<!-- This is added due to requiring launchMode="singleInstance" on activity aliases,
  but launchMode does nothing on activity aliases -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="MissingLeanbackSupport,ImpliedTouchscreenHardware">
    <application>
    <!-- Alternative icons names -->
    <!-- Default -->
    <activity-alias
        android:name="net.mullvad.mullvadvpn.appearance.impl.obfuscation.MainActivityAltDefault"
        android:enabled="true"
        android:exported="true"
        android:icon="@mipmap/ic_launcher"
        android:banner="@mipmap/ic_banner"
        android:label="@string/app_name"
        android:targetActivity="net.mullvad.mullvadvpn.app.MainActivity"
        tools:ignore="DiscouragedApi,UnusedAttribute">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
            <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
        </intent-filter>
        <intent-filter>
            <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
        </intent-filter>
        <intent-filter>
            <action android:name="net.mullvad.mullvadvpn.request_vpn_permission" />
        </intent-filter>
    </activity-alias>
    <!-- Game -->
    <activity-alias
        android:name="net.mullvad.mullvadvpn.appearance.impl.obfuscation.MainActivityAltGame"
        android:enabled="false"
        android:exported="true"
        android:icon="@mipmap/ic_launcher_game"
        android:banner="@mipmap/ic_banner_game"
        android:label="@string/app_name_game"
        android:targetActivity="net.mullvad.mullvadvpn.app.MainActivity"
        tools:ignore="DiscouragedApi,UnusedAttribute">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
            <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
        </intent-filter>
        <intent-filter>
            <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
        </intent-filter>
        <intent-filter>
            <action android:name="net.mullvad.mullvadvpn.request_vpn_permission" />
        </intent-filter>
    </activity-alias>
    <!-- Weather -->
    <activity-alias
        android:name="net.mullvad.mullvadvpn.appearance.impl.obfuscation.MainActivityAltWeather"
        android:enabled="false"
        android:exported="true"
        android:icon="@mipmap/ic_launcher_weather"
        android:banner="@mipmap/ic_banner_weather"
        android:label="@string/app_name_weather"
        android:targetActivity="net.mullvad.mullvadvpn.app.MainActivity"
        tools:ignore="DiscouragedApi,UnusedAttribute">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
            <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
        </intent-filter>
        <intent-filter>
            <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
        </intent-filter>
        <intent-filter>
            <action android:name="net.mullvad.mullvadvpn.request_vpn_permission" />
        </intent-filter>
    </activity-alias>
    <!-- Notes -->
    <activity-alias
        android:name="net.mullvad.mullvadvpn.appearance.impl.obfuscation.MainActivityAltNotes"
        android:enabled="false"
        android:exported="true"
        android:icon="@mipmap/ic_launcher_notes"
        android:banner="@mipmap/ic_banner_notes"
        android:label="@string/app_name_notes"
        android:targetActivity="net.mullvad.mullvadvpn.app.MainActivity"
        tools:ignore="DiscouragedApi,UnusedAttribute">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
            <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
        </intent-filter>
        <intent-filter>
            <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
        </intent-filter>
        <intent-filter>
            <action android:name="net.mullvad.mullvadvpn.request_vpn_permission" />
        </intent-filter>
    </activity-alias>
    <!-- Ninja -->
    <activity-alias
        android:name="net.mullvad.mullvadvpn.appearance.impl.obfuscation.MainActivityAltNinja"
        android:enabled="false"
        android:exported="true"
        android:icon="@mipmap/ic_launcher_ninja"
        android:banner="@mipmap/ic_banner_ninja"
        android:label="@string/app_name_ninja"
        android:targetActivity="net.mullvad.mullvadvpn.app.MainActivity"
        tools:ignore="DiscouragedApi,UnusedAttribute">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
            <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
        </intent-filter>
        <intent-filter>
            <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
        </intent-filter>
        <intent-filter>
            <action android:name="net.mullvad.mullvadvpn.request_vpn_permission" />
        </intent-filter>
    </activity-alias>
    <!-- Browser -->
    <activity-alias
        android:name="net.mullvad.mullvadvpn.appearance.impl.obfuscation.MainActivityAltBrowser"
        android:enabled="false"
        android:exported="true"
        android:icon="@mipmap/ic_launcher_browser"
        android:banner="@mipmap/ic_banner_browser"
        android:label="@string/app_name_browser"
        android:targetActivity="net.mullvad.mullvadvpn.app.MainActivity"
        tools:ignore="DiscouragedApi,UnusedAttribute">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
            <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
        </intent-filter>
        <intent-filter>
            <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
        </intent-filter>
        <intent-filter>
            <action android:name="net.mullvad.mullvadvpn.request_vpn_permission" />
        </intent-filter>
    </activity-alias>
    </application>
</manifest>
