[package]
name = "mullvad-management-interface"
description = "Mullvad VPN IPC. Contains types and functions for IPC clients and servers."
version.workspace = true
authors.workspace = true
repository.workspace = true
license.workspace = true
edition.workspace = true
publish.workspace = true

[dependencies]
chrono = { workspace = true }
err-derive = "0.3.1"
mullvad-types = { path = "../mullvad-types" }
mullvad-paths = { path = "../mullvad-paths" }
talpid-types = { path = "../talpid-types" }
tonic = { workspace = true }
tower = { workspace = true }
prost = { workspace = true }
prost-types = { workspace = true }
parity-tokio-ipc = "0.9"
futures = "0.3"
tokio = { workspace = true, features =  ["rt"] }
log = "0.4"

[target.'cfg(unix)'.dependencies]
nix = "0.23"
lazy_static = "1.0"

[build-dependencies]
tonic-build = { workspace = true, default-features = false, features = ["transport", "prost"] }
