[package]
name = "talpid-platform-metadata"
edition.workspace = true
rust-version.workspace = true
description = "Platform metadata detection functions"
repository.workspace = true
license.workspace = true

[target.'cfg(target_os = "linux")'.dependencies]
rs-release = "0.1.7"
talpid-dbus = { path = "../talpid-dbus", optional = true }

[target.'cfg(target_os = "windows")'.dependencies]
talpid-windows = { path = "../talpid-windows" }

[target.'cfg(windows)'.dependencies.windows-sys]
workspace = true
features = [
  "Win32",
  "Win32_Foundation",
  "Win32_Storage",
  "Win32_Storage_FileSystem",
  "Win32_System_Diagnostics_Debug",
  "Win32_System_LibraryLoader",
  "Win32_System_SystemInformation",
  "Win32_System_SystemServices",
  "Win32_System_Threading",
]

[features]
default = ["network-manager"]
network-manager = ["talpid-dbus"]

[lints]
workspace = true
