[package]
name = "talpid-types"
description = "Common base structures for talpid"
version.workspace = true
authors.workspace = true
repository.workspace = true
license.workspace = true
edition.workspace = true
publish.workspace = true

[lints]
workspace = true

[dependencies]
serde = { version = "1.0", features = ["derive"] }
ipnetwork = "0.16"
base64 = "0.13"
x25519-dalek = { version = "2.0.0", features = ["static_secrets", "zeroize", "getrandom"] }
err-derive = { workspace = true }
zeroize = "1.5.7"

[target.'cfg(target_os = "android")'.dependencies]
jnix = { version = "0.5.1", features = ["derive"] }
