[package]
name = "talpid-dbus"
edition.workspace = true
rust-version.workspace = true
repository.workspace = true
license.workspace = true

[target.'cfg(target_os = "linux")'.dependencies]
libc = "0.2"
log = { workspace = true }
serde = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["rt"] }

# libdbus
dbus = { version = "0.9", optional = true }

# pure-Rust dbus client
zbus = { version = "5.12", optional = true }
zvariant = { version = "5.8.0", optional = true }

[features]
default = ["zbus"]  # TODO: Remove
libdbus = ["dep:dbus"]
zbus = ["dep:zbus", "dep:zvariant"]

[lints]
workspace = true
