[package]
name = "talpid-dbus"
version = "0.1.0"
authors = ["Mullvad VPN"]
edition = "2018"
publish = false

[target.'cfg(target_os = "linux")'.dependencies]
dbus = "0.9"
err-derive = "0.3.0"
lazy_static = "1.0"
log = "0.4"
libc = "0.2"
talpid-types = { path = "../talpid-types" }
tokio = { version = "0.2", features = [ "blocking" ] }
