[package]
name = "talpid-dbus"
authors.workspace = true
repository.workspace = true
license.workspace = true
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[target.'cfg(target_os = "linux")'.dependencies]
dbus = "0.9"
err-derive = { workspace = true }
once_cell = { workspace = true }
log = { workspace = true }
libc = "0.2"
tokio = { workspace = true, features = ["rt"] }
