[package]
name = "talpid-dbus"
edition.workspace = true
rust-version.workspace = true
repository.workspace = true
license.workspace = true

[target.'cfg(target_os = "linux")'.dependencies]
dbus = "0.9"
libc = "0.2"
log = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["rt"] }

[lints]
workspace = true
