<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AmIMullvad</key>
	<string>$(AM_I_JSON_URL)</string>
	<key>ApiHostName</key>
	<string>$(API_HOST_NAME)</string>
	<key>ApiEndpoint</key>
	<string>$(API_ENDPOINT)</string>
	<key>EncryptedDnsHostName</key>
	<string>$(ENCRYPTED_DNS_HOST_NAME)</string>
</dict>
</plist>
