[package]
name = "mullvad-ios"
description = "Entry point for all FFI code on iOS"
authors.workspace = true
repository.workspace = true
license.workspace = true
edition.workspace = true
rust-version.workspace = true

[lints]
workspace = true

[features]
# Allow the API server to be used
api-override = ["mullvad-api/api-override"]

[target.'cfg(target_os = "ios")'.dependencies]
futures = { workspace = true }
libc = "0.2"
log = { workspace = true }
tokio = { workspace = true, features = ["macros", "rt-multi-thread"] }
tonic = { workspace = true }
hyper = { version = "1.4.1", features = ["client", "http1"] }
hyper-util = { workspace = true }
tower = { workspace = true }
tunnel-obfuscation = { path = "../tunnel-obfuscation" }
oslog = "0.2"
talpid-future = { path = "../talpid-future" }
talpid-types = { path = "../talpid-types" }
talpid-tunnel-config-client = { path = "../talpid-tunnel-config-client" }
mullvad-encrypted-dns-proxy = { path = "../mullvad-encrypted-dns-proxy" }
mullvad-api = { path = "../mullvad-api", default-features = false }
mullvad-types = { path = "../mullvad-types" }
serde_json = { workspace = true }
async-trait = "0.1"

shadowsocks-service = { workspace = true, features = [
    "local",
    "stream-cipher",
    "local-http",
    "local-tunnel",
] }

[target.'cfg(target_os = "macos")'.build-dependencies]
cbindgen = { version = "0.28.0", default-features = false }

[lib]
crate-type = ["staticlib"]
bench = false
