[package]
name = "mullvad-daemon"
description = "Mullvad VPN daemon. Runs and controls the VPN tunnels"
version.workspace = true
authors.workspace = true
repository.workspace = true
license.workspace = true
edition.workspace = true
publish.workspace = true

[features]
# Allow the API server to use to be configured
api-override = ["mullvad-api/api-override"]

[dependencies]
chrono = { workspace = true }
err-derive = { workspace = true }
fern = { version = "0.6", features = ["colored"] }
futures = "0.3"
once_cell = "1.13"
libc = "0.2"
log = { workspace = true }
regex = "1.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tokio = { workspace = true, features =  ["fs", "io-util", "rt-multi-thread", "sync", "time"] }
tokio-stream = "0.1"
rand = "0.8.5"

mullvad-relay-selector = { path = "../mullvad-relay-selector" }
mullvad-types = { path = "../mullvad-types" }
mullvad-api = { path = "../mullvad-api" }
mullvad-fs = { path = "../mullvad-fs" }
mullvad-version = { path = "../mullvad-version" }
talpid-core = { path = "../talpid-core" }
talpid-types = { path = "../talpid-types" }
talpid-platform-metadata = { path = "../talpid-platform-metadata" }
talpid-time = { path = "../talpid-time" }

[target.'cfg(not(target_os="android"))'.dependencies]
clap = { workspace = true }
log-panics = "2.0.0"
mullvad-management-interface = { path = "../mullvad-management-interface" }
mullvad-paths = { path = "../mullvad-paths" }

[target.'cfg(target_os="android")'.dependencies]
android_logger = "0.8"

[target.'cfg(unix)'.dependencies]
nix = "0.23"
simple-signal = "1.1"

[target.'cfg(target_os="linux")'.dependencies]
talpid-dbus = { path = "../talpid-dbus" }

[target.'cfg(target_os="macos")'.dependencies]
objc = { version = "0.2.7", features = ["exception", "verify_message"] }

[target.'cfg(windows)'.dependencies]
ctrlc = "3.0"
windows-service = "0.6.0"
winapi = { version = "0.3", features = ["winnt", "excpt"] }
dirs = "5.0.1"

[target.'cfg(windows)'.dependencies.windows-sys]
workspace = true
features = [
    "Win32_Foundation",
    "Win32_Security",
    "Win32_Security_Authorization",
    "Win32_Security_Authentication_Identity",
    "Win32_System_Diagnostics_Debug",
    "Win32_System_Kernel",
    "Win32_System_Memory",
    "Win32_System_Threading",
]

[target.'cfg(windows)'.build-dependencies]
winres = "0.1"
mullvad-version = { path = "../mullvad-version" }

[target.'cfg(windows)'.build-dependencies.windows-sys]
workspace = true
features = [
    "Win32_System_SystemServices",
]

[package.metadata.winres]
ProductName = "Mullvad VPN"
CompanyName = "Mullvad VPN AB"
LegalCopyright = "(c) 2023 Mullvad VPN AB"
InternalName = "mullvad-daemon"
OriginalFilename = "mullvad-daemon.exe"
