[package]
name = "mullvad-daemon"
version = "2021.6.0"
authors = ["Mullvad VPN"]
description = "Mullvad VPN daemon. Runs and controls the VPN tunnels"
license = "GPL-3.0"
edition = "2021"
publish = false

[dependencies]
cfg-if = "1.0"
chrono = { version = "0.4", features = ["serde"] }
clap = "2.25"
err-derive = "0.3.0"
either = "1"
fern = { version = "0.6", features = ["colored"] }
futures = "0.3"
ipnetwork = "0.16"
lazy_static = "1.0"
libc = "0.2"
log = "0.4"
log-panics = "2.0.0"
parking_lot = "0.11"
rand = "0.7"
regex = "1.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tokio = { version = "1.8", features =  [ "fs", "rt-multi-thread", "sync", "time" ] }
tokio-stream = "0.1"
uuid = { version = "0.8", features = ["v4"] }

mullvad-paths = { path = "../mullvad-paths" }
mullvad-types = { path = "../mullvad-types" }
mullvad-rpc = { path = "../mullvad-rpc" }
talpid-core = { path = "../talpid-core" }
talpid-types = { path = "../talpid-types" }
talpid-platform-metadata = { path = "../talpid-platform-metadata" }

[target.'cfg(not(target_os="android"))'.dependencies]
mullvad-management-interface = { path = "../mullvad-management-interface" }

[target.'cfg(target_os="android")'.dependencies]
android_logger = "0.8"

[target.'cfg(unix)'.dependencies]
nix = "0.22.2"
simple-signal = "1.1"

[target.'cfg(windows)'.dependencies]
ctrlc = "3.0"
duct = "0.13"
windows-service = "0.4"
winapi = { version = "0.3", features = ["errhandlingapi", "handleapi", "libloaderapi", "ntlsa", "synchapi", "tlhelp32", "winbase", "winerror", "winuser"] }
dirs-next = "2.0"

[target.'cfg(windows)'.build-dependencies]
winres = "0.1"
winapi = "0.3"

[package.metadata.winres]
ProductName = "Mullvad VPN"
CompanyName = "Mullvad VPN AB"
LegalCopyright = "(c) 2022 Mullvad VPN AB"
InternalName = "mullvad-daemon"
OriginalFilename = "mullvad-daemon.exe"
