[package]
name = "mullvad-daemon"
version = "0.0.0"
authors = ["Mullvad VPN"]
description = "Mullvad VPN daemon. Runs and controls the VPN tunnels"
license = "GPL-3.0"
edition = "2021"
publish = false

[dependencies]
cfg-if = "1.0"
chrono = { version = "0.4.19", features = ["serde"] }
err-derive = "0.3.1"
fern = { version = "0.6", features = ["colored"] }
futures = "0.3"
ipnetwork = "0.16"
lazy_static = "1.0"
libc = "0.2"
log = "0.4"
parking_lot = "0.11"
rand = "0.8.5"
regex = "1.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tokio = { version = "1.8", features =  ["fs", "io-util", "rt-multi-thread", "sync", "time"] }
tokio-stream = "0.1"
uuid = { version = "0.8", features = ["v4"] }

mullvad-relay-selector = { path = "../mullvad-relay-selector" }
mullvad-types = { path = "../mullvad-types" }
mullvad-api = { path = "../mullvad-api" }
mullvad-version = { path = "../mullvad-version" }
talpid-core = { path = "../talpid-core" }
talpid-types = { path = "../talpid-types" }
talpid-platform-metadata = { path = "../talpid-platform-metadata" }
talpid-time = { path = "../talpid-time" }

[target.'cfg(not(target_os="android"))'.dependencies]
clap = { version = "3.0", features = ["cargo"] }
log-panics = "2.0.0"
mullvad-management-interface = { path = "../mullvad-management-interface" }
mullvad-paths = { path = "../mullvad-paths" }

[target.'cfg(target_os="android")'.dependencies]
android_logger = "0.8"

[target.'cfg(unix)'.dependencies]
nix = "0.23"
simple-signal = "1.1"

[target.'cfg(target_os="linux")'.dependencies]
talpid-dbus = { path = "../talpid-dbus" }

[target.'cfg(target_os="macos")'.dependencies]
objc = "0.2.3"

[target.'cfg(windows)'.dependencies]
ctrlc = "3.0"
duct = "0.13"
windows-service = "0.5.0"
winapi = { version = "0.3", features = ["winnt", "excpt"] }
dirs-next = "2.0"

[target.'cfg(windows)'.dependencies.windows-sys]
version = "0.42.0"
features = [
    "Win32_Foundation",
    "Win32_Security",
    "Win32_Security_Authorization",
    "Win32_Security_Authentication_Identity",
    "Win32_System_Diagnostics_Debug",
    "Win32_System_Kernel",
    "Win32_System_Memory",
    "Win32_System_Threading",
]

[target.'cfg(windows)'.build-dependencies]
winres = "0.1"
mullvad-version = { path = "../mullvad-version" }

[target.'cfg(windows)'.build-dependencies.windows-sys]
version = "0.42.0"
features = [
    "Win32_System_SystemServices",
]

[package.metadata.winres]
ProductName = "Mullvad VPN"
CompanyName = "Mullvad VPN AB"
LegalCopyright = "(c) 2023 Mullvad VPN AB"
InternalName = "mullvad-daemon"
OriginalFilename = "mullvad-daemon.exe"
