# User-specific stuff:
workspace.xml
tasks.xml
dictionaries
vcs.xml
usage.statistics.xml
shelf
assetWizardSettings.xml
modules/android.iml

# Gradle:
gradle.xml
libraries

# Android studio 3.1+ serialized cache file
caches/build_file_checksums.ser
