.custom-scrollbars {
  display: flex;
  flex-direction: column;
  position: relative;
}

.custom-scrollbars__scrollable {
  width: 100%;
  height: 100%;
}

.custom-scrollbars__scrollable::-webkit-scrollbar {
  display: none;
}

.custom-scrollbars__track {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 16px;
  background-color: rgba(0, 0, 0, 0.1);
  opacity: 0;
  transition: width 0.1s ease-in-out, opacity 0.25s ease-in-out;
  z-index: 98;
  pointer-events: none;
}

.custom-scrollbars__track--visible {
  opacity: 1;
  pointer-events: all;
}

.custom-scrollbars__thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  width: 8px;
  transition: width 0.25s ease-in-out, border-radius 0.25s ease-in-out, height 0.25s ease-in-out,
    opacity 0.25s ease-in-out;
  opacity: 0;
  z-index: 99;
  pointer-events: none;
}

.custom-scrollbars__thumb--wide {
  width: 12px;
  border-radius: 6px;
}

.custom-scrollbars__thumb--active {
  background-color: rgba(255, 255, 255, 0.4);
}

.custom-scrollbars__thumb--visible {
  /* thumb appears without animation */
  transition: width 0.25s ease-in-out, border-radius 0.25s ease-in-out, height 0.25s ease-in-out,
    background-color 0.1s ease-in-out;
  opacity: 1;
}
