[package]
name = "mullvad-exclude"
description = "Runs programs outside the Mullvad VPN tunnel on Linux"
version.workspace = true
authors.workspace = true
repository.workspace = true
license.workspace = true
edition.workspace = true
publish.workspace = true

[lints]
workspace = true

[target.'cfg(target_os = "linux")'.dependencies]
nix = "0.23"
err-derive = { workspace = true }
talpid-types = { path = "../talpid-types" }
