HOST_NAME[config=Debug] = mullvad.net
HOST_NAME[config=Release] = mullvad.net
HOST_NAME[config=MockRelease] = mullvad.net
HOST_NAME[config=Staging] = stagemole.eu

API_HOST_NAME[config=Debug] = api.$(HOST_NAME)
API_HOST_NAME[config=Release] = api.$(HOST_NAME)
API_HOST_NAME[config=MockRelease] = api.$(HOST_NAME)
API_HOST_NAME[config=Staging] = api.$(HOST_NAME)

ENCRYPTED_DNS_HOST_NAME[config=Debug] = frakta.eu
ENCRYPTED_DNS_HOST_NAME[config=Release] = frakta.eu
ENCRYPTED_DNS_HOST_NAME[config=MockRelease] = frakta.eu
ENCRYPTED_DNS_HOST_NAME[config=Staging] = stagemole.frakta.eu

SIGSUM_TRUSTED_KEYS[config=Debug] =
SIGSUM_TRUSTED_KEYS[config=Release] =
SIGSUM_TRUSTED_KEYS[config=MockRelease] =
SIGSUM_TRUSTED_KEYS[config=Staging] = 97d155e299dae58377d6b9b91739ac08e16b883781038398fe07fea1be9684b3:bcc9dc6dadca9de57d67799d6aff1a4a11ac4ea1eed659215751c8de6ae19b6b:74df47593c1c5fdee247b2b24440224ffb20d204cce7b11054a43c3b2b7a608f:70b9de05582ab87049f9408f856edac340138d52708283058f136229119a090d

API_ENDPOINT[config=Debug] = 45.83.223.196:443
API_ENDPOINT[config=Release] = 45.83.223.196:443
API_ENDPOINT[config=MockRelease] = 45.83.223.196:443
API_ENDPOINT[config=Staging] = 185.217.116.132:443

AM_I_JSON_URL[config=Debug] = am.i.mullvad.net
AM_I_JSON_URL[config=Release] = am.i.mullvad.net
AM_I_JSON_URL[config=MockRelease] = am.i.mullvad.net
AM_I_JSON_URL[config=Staging] = am.i.stagemole.eu

DOMAIN_FRONTING_FRONT[config=Debug] = https://www.phpmyadmin.net
DOMAIN_FRONTING_FRONT[config=Release] = https://www.phpmyadmin.net
DOMAIN_FRONTING_FRONT[config=MockRelease] = https://www.phpmyadmin.net
DOMAIN_FRONTING_FRONT[config=Staging] = https://www.phpmyadmin.net

DOMAIN_FRONTING_PROXY_HOST[config=Debug] = 1105015943.rsc.cdn77.org
DOMAIN_FRONTING_PROXY_HOST[config=Release] = 1105015943.rsc.cdn77.org
DOMAIN_FRONTING_PROXY_HOST[config=MockRelease] = 1105015943.rsc.cdn77.org
DOMAIN_FRONTING_PROXY_HOST[config=Staging] = 1105015943.rsc.cdn77.org
