pkgbase = patched-mullvad-vpn-daemon-bin
	pkgdesc = Mullvad daemon patched with IP range and Netbird/Tailscale Split-Tunneling support (mullvad split-tunnel ip help)
	pkgver = 2026.1
	pkgrel = 1
	url = https://github.com/tritaum/ip-split-tunneling-mullvad
	install = patched-mullvad-vpn-daemon.install
	arch = x86_64
	license = GPL-3.0-or-later
	depends = dbus
	depends = iputils
	depends = libnftnl
	provides = mullvad-vpn-daemon
	conflicts = mullvad-vpn-daemon
	conflicts = mullvad-vpn-daemon-bin
	conflicts = patched-mullvad-vpn-daemon
	source_x86_64 = https://github.com/tritaum/ip-split-tunneling-mullvad/releases/download/2026.1/mullvad-vpn-daemon_2026.1_amd64.deb
	sha256sums_x86_64 = SKIP

pkgname = patched-mullvad-vpn-daemon-bin
