.button {
  display: flex;
  padding: 9px 9px 9px;
  border-radius: 4px;
  border: 0;
  justify-content: center;
  align-items: center;
  transition: 0.25s opacity;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 24px;
  margin-left: 24px;
  flex: 1;
  flex-direction: column;
}

.button--blur {
  backdrop-filter: blur(4px);
}


.button--neutral {
  background-color: rgba(255,255,255,0.2);
}

.button--neutral:not(:disabled):hover {
  background-color: rgba(255,255,255,0.25);
}

.button--neutral:active {
  background-color: rgba(255,255,255,0.2);
}
