.button {
  display: flex;
  width: 100%;
  padding: 7px 12px 9px;
  border-radius: 4px;
  border: 0;
  font-family: DINPro;
  font-size: 20px;
  font-weight: 900;
  line-height: 26px;
  justify-content: center;
  align-items: center;
  transition: 0.25s opacity;
}

.button:disabled {
  opacity: 0.5;
}

.button-label {
  margin: 0 auto;
}

/* make negative margin to center label within button */
.button-label + .button-icon--16 {
  margin-left: -16px;
}

.button--blur {
  backdrop-filter: blur(4px);
}

.button--primary {
  background-color: rgba(41,71,115,1);
  color: rgba(255,255,255,0.8);
}

.button--primary .button-icon path {
  fill: rgba(255,255,255,0.8);
}

.button--primary:hover {
  background-color: rgba(41,71,115,0.9);
  color: rgba(255,255,255,1);
}

.button--primary:hover .button-icon path {
  fill: rgba(255,255,255,1);
}

.button--primary:active {
  background-color: rgba(41,71,115,1);
}

.button--secondary {
  background-color: rgba(41,71,115,0.4);
  color: rgba(255,255,255,0.6);
}

.button--secondary:hover {
  background-color: rgba(41,71,115,0.5);
  color: rgba(255,255,255,0.8);
}

.button--secondary:active {
  background-color: rgba(41,71,115,0.4);
}

.button--negative {
  background-color: rgba(208,2,27,1);
  color: rgba(255,255,255,0.8);
}

.button--negative:hover {
  background-color: rgba(208,2,27,0.95);
  color: rgba(255,255,255,1);
}

.button--negative:active {
  background-color: rgba(208,2,27,1);
}

.button--negative-light {
  background-color: rgba(208,2,27,0.4);
  color: rgba(255,255,255,0.6);
}

.button--negative-light:hover {
  background-color: rgba(208,2,27,0.45);
  color: rgba(255,255,255,0.8);
}

.button--negative-light:active {
  background-color: rgba(208,2,27,0.4);
}

.button--positive {
  background-color: rgba(63,173,77,1);
  color: rgba(255,255,255,0.8);
}

.button--positive .button-icon path {
  fill: rgba(255,255,255,0.8);
}

.button--positive:hover {
  background-color: rgba(63,173,77,0.9);
  color: rgba(255,255,255,1);
}

.button--positive:hover .button-icon path {
  fill: rgba(255,255,255,1);
}

.button--positive:active {
  background-color: rgba(63,173,77,1);
}

.button--neutral {
  background-color: rgba(255,255,255,0.2);
  color: rgba(255,255,255,0.8);
}

.button--neutral:hover {
  background-color: rgba(255,255,255,0.25);
  color: rgba(255,255,255,1);
}

.button--neutral:active {
  background-color: rgba(255,255,255,0.2);
}
