* { box-sizing: border-box; }

::-webkit-scrollbar {
  width: 16px;
}
 
::-webkit-scrollbar-track {
  background: transparent;
}
 
::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

:focus {
  outline: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  user-select: none;
  cursor: default;
}

img {
  -webkit-user-drag: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
