* { box-sizing: border-box; }

:focus {
  outline: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  user-select: none;
  cursor: default;
}

img {
  -webkit-user-drag: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
