/* global */
@import 'reset.css';
@import 'fonts.css';
@import 'global.css';
@import 'buttons.css';
@import 'transitions.css';

/* app */
@import '../../components/PlatformWindow.css';
@import '../../components/CustomScrollbars.css';
@import '../../components/Login.css';
@import '../../components/Connect.css';
@import '../../components/AdvancedSettings.css';
@import '../../components/Account.css';
@import '../../components/Support.css';
@import '../../components/SelectLocation.css';
@import '../../components/Layout.css';
@import '../../components/Switch.css';
