[Unit]
Description=Mullvad VPN daemon
Wants=network.target

[Service]
ExecStart="/opt/Mullvad VPN/resources/mullvad-daemon" --disable-stdout-timestamps --log /var/log/mullvad-daemon/daemon.log --tunnel-log /var/log/mullvad-daemon/openvpn.log

[Install]
WantedBy=multi-user.target
