[package]
name = "mullvad-release"
edition.workspace = true
rust-version.workspace = true
description = "Tools for managing Mullvad release metadata"
repository.workspace = true
license.workspace = true

[dependencies]
anyhow = "1.0"
chrono = { workspace = true, features = ["now", "serde"] }
clap = { workspace = true }
hex = { workspace = true }
mullvad-update = { path = "../", features = ["client", "sign", "strum"] }
mullvad-version = { path = "../../mullvad-version", features = ["serde"] }
reqwest = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
strum = { workspace = true }
tokio = { version = "1", features = ["full"] }
toml = "0.8"

[lints]
workspace = true
