---
name: Android - Verify F-Droid and reproducible builds
on:
  schedule:
    # At 04:20 UTC every monday.
    # Notifications for scheduled workflows are sent to the user who last modified the cron
    # syntax in the workflow file. If you update this you must have notifications for
    # Github Actions enabled, so these don't go unnoticed.
    # https://docs.github.com/en/actions/monitoring-and-troubleshooting-workflows/notifications-for-workflow-runs
    - cron: '20 6 * * 1'
  workflow_dispatch:
    inputs:
      commit_hash:
        type: string
        required: false

permissions: {}

jobs:
  set-up-env:
    name: Setup commit hash
    runs-on: ubuntu-latest
    steps:
      - id: hash
        name: Set commit hash or default to github.sha
        run: |
          # If the input has a value, it is filled by that value; otherwise, use github.sha
          if [ -n "${{ inputs.commit_hash }}" ]; then
            echo "commit_hash=${{ inputs.commit_hash }}" >> "$GITHUB_OUTPUT"
          else
            echo "commit_hash=${{ github.sha }}" >> "$GITHUB_OUTPUT"
          fi
    outputs:
      COMMIT_HASH: ${{ steps.hash.outputs.commit_hash }}

  build-fdroid-app:
    name: Build fdroid container
    runs-on: ubuntu-latest
    needs: set-up-env
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ needs.set-up-env.outputs.COMMIT_HASH }}
          submodules: true
          fetch-depth: 0
          filter: tree:0

      - name: Build app
        run: ./building/containerized-build.sh android --fdroid

      - name: Upload apks
        uses: actions/upload-artifact@v4
        with:
          name: container-app
          path: android/app/build/outputs/apk/ossProd/fdroid/app-oss-prod-fdroid-unsigned.apk
          if-no-files-found: error
          retention-days: 7

  build-fdroid-app-server:
    name: Build fdroid with fdroid server
    runs-on: ubuntu-latest
    needs: set-up-env
    steps:
      - name: Install fdroidserver
        run: |
          sudo apt-get -y update
          sudo apt-get -y install fdroidserver

      - name: Install gradle
        run: |
          sudo apt-get -y remove gradle
          mkdir /opt/gradle
          curl -sfLo /opt/gradle/gradle-8.13-bin.zip https\://services.gradle.org/distributions/gradle-8.13-bin.zip
          unzip -d /opt/gradle /opt/gradle/gradle-8.13-bin.zip

      # These are equivalent to the sudo section of the metadata file
      - name: Install dependencies
        run: sudo apt-get install -y build-essential protobuf-compiler libprotobuf-dev

      - name: Download metadata file
        uses: actions/checkout@v4
        with:
          path: app-repo

      - name: Init fdroid
        run: fdroid init

      - name: Prepare metadata
        run: |
          mkdir metadata
          cp app-repo/android/fdroid-build/metadata/net.mullvad.mullvadvpn.yml metadata/net.mullvad.mullvadvpn.yml
          sed -i 's/commit-hash/${{ needs.set-up-env.outputs.COMMIT_HASH }}/' metadata/net.mullvad.mullvadvpn.yml

      - name: Build app
        run: |
          export PATH=$PATH:/opt/gradle/gradle-8.13/bin
          fdroid build net.mullvad.mullvadvpn:1

      - name: Upload apks
        uses: actions/upload-artifact@v4
        with:
          name: fdroidserver-app
          path: |
            build/net\.mullvad\.mullvadvpn/android/app/build/outputs/apk/ossProd/fdroid/app-oss-prod-fdroid-unsigned.apk
          if-no-files-found: error
          retention-days: 7

  compare-builds:
    name: Check builds
    runs-on: ubuntu-latest
    needs: [build-fdroid-app, build-fdroid-app-server]
    steps:
      - name: Download container apk
        uses: actions/download-artifact@v4
        with:
          name: container-app
          path: container

      - name: Download server apk
        uses: actions/download-artifact@v4
        with:
          name: fdroidserver-app
          path: fdroidserver

      - name: Print checksums
        run: |
          echo "Container build checksum"
          md5sum container/app-oss-prod-fdroid-unsigned.apk
          echo "Fdroidserver build checksum"
          md5sum fdroidserver/app-oss-prod-fdroid-unsigned.apk

      - name: Compare files
        run: diff container/app-oss-prod-fdroid-unsigned.apk fdroidserver/app-oss-prod-fdroid-unsigned.apk
