---
name: Android - Check XML formatting
on:
  pull_request:
    paths:
      - .github/workflows/android-xml-format-check.yml
      - android/app/src/main/**/*.xml
  workflow_dispatch:
jobs:
  prepare:
    name: Prepare
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Resolve container image
        run: |
          echo "inner_container_image=$(cat ./building/android-container-image.txt)" >> $GITHUB_ENV
    outputs:
      container_image: ${{ env.inner_container_image }}

  check-formatting:
    name: Lint XML using tidy
    needs: prepare
    runs-on: ubuntu-latest
    container:
      image: ${{ needs.prepare.outputs.container_image }}
    steps:
      # Fix for HOME path overridden by GH runners when building in containers, see:
      # https://github.com/actions/runner/issues/863
      - name: Fix HOME path
        run: echo "HOME=/root" >> $GITHUB_ENV
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Run tidy
        shell: bash
        run: |-
          git config --global --add safe.directory $(pwd)
          android/scripts/tidy.sh formatAndCheckDiff
