---
name: Rust - Run Clippy to check lints
on:
  pull_request:
    paths:
      - .github/workflows/clippy.yml
      - clippy.toml
      - '**/*.rs'
  workflow_dispatch:
jobs:
  clippy_check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install Protoc
        uses: arduino/setup-protoc@v1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Checkout binaries submodule
        run: git submodule update --init --depth=1 dist-assets/binaries

      - uses: actions-rs/toolchain@v1.0.6
        with:
          toolchain: stable
          components: clippy
          override: true

      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install libdbus-1-dev

      - name: Clippy check
        run: |-
          export RUSTFLAGS="--deny warnings"
          source env.sh
          time cargo clippy --locked -- -W clippy::unused_async
