---
name: Desktop frontend
on:
  pull_request:
    paths:
      - .github/workflows/frontend.yml
      - gui/**
      - mullvad-management-interface/proto/**
  workflow_dispatch:

jobs:
  check-frontend:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Checkout wireguard-go submodule
        run: git submodule update --init --depth=1 wireguard-go-rs/libwg/wireguard-go

      - name: Install Rust
        uses: actions-rs/toolchain@v1.0.6
        with:
          toolchain: stable
          default: true
          profile: minimal

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version-file: gui/package.json
          cache: 'npm'
          cache-dependency-path: gui/package-lock.json

      - name: Install dependencies
        working-directory: gui
        shell: bash
        run: npm ci

      - name: Check formatting
        if: matrix.os == 'ubuntu-latest'
        working-directory: gui
        shell: bash
        run: npm run lint

      - name: Build
        working-directory: gui
        shell: bash
        run: npm run build

      - name: Run headless test Linux
        if: runner.os == 'Linux'
        working-directory: gui
        run: xvfb-run -a npm test

      - name: Run headless test Windows
        if: runner.os != 'Linux'
        working-directory: gui
        shell: bash
        run: npm test

      - name: Run Playwright tests
        working-directory: gui
        shell: bash
        run: npm run e2e:no-build
