---
name: iOS create screenshots
on:
  push:
    tags:
      - ios/*
  pull_request:
    paths:
      - ios/Gemfile
      - ios/Gemfile.lock
  workflow_dispatch:

permissions: {}

jobs:
  test:
    name: Take screenshots
    runs-on: macos-15-xlarge
    env:
      SOURCE_PACKAGES_PATH: .spm
      TEST_ACCOUNT: ${{ secrets.IOS_TEST_ACCOUNT_NUMBER }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup project
        uses: ./.github/actions/ios/setup-project-toolchain

      - name: Copy relay list
        run: cp MullvadREST/Assets/relays-test-data.json MullvadREST/Assets/relays.json
        working-directory: ios

      - name: Add test account to config
        run: |
          sed -i "" \
            "/HAS_TIME_ACCOUNT_NUMBER =/ s#= .*#= 1234123412341234#" \
            UITests.xcconfig
        working-directory: ios/Configurations

      - name: Bundle
        run: bundle install
        working-directory: ios

      - name: Create screenshots
        run: bundle exec fastlane snapshot --cloned_source_packages_path "$SOURCE_PACKAGES_PATH"
        working-directory: ios

      - name: Upload screenshot artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ios-screenshots
          path: ios/Screenshots
