---
name: OSV-Scanner PR Scan

on:
  pull_request:
  workflow_dispatch:

permissions:
  # Require writing security events to upload SARIF file to security tab
  security-events: write
  # Only need to read contents
  contents: read

jobs:
  scan-pr:
    # yamllint disable rule:line-length
    uses: "google/osv-scanner-action/.github/workflows/osv-scanner-reusable-pr.yml@f0e45d2960258cf40285d596a10f817af70af1f7"  # v1.7.4
