---
name: Check formatting of proto files
on:
  pull_request:
    paths:
      - '**/*.proto'
  workflow_dispatch:

permissions: {}

jobs:
  check-formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run clang-format for proto files
        uses: jidicula/clang-format-action@v4.11.0
        with:
          clang-format-version: 15
          include-regex: ^.*\.proto$
