---
name: Rust - Unused dependencies
on:
  pull_request:
    paths:
      - .github/workflows/rust-unused-dependencies.yml
      - '**/*.rs'
      - '**/Cargo.toml'
  workflow_dispatch:

permissions: {}

jobs:
  cargo-shear:
    runs-on: ubuntu-latest
    steps:
      - name: Install cargo-binstall
        uses: cargo-bins/cargo-binstall@main

      - name: Install cargo-shear
        run: cargo binstall --no-confirm cargo-shear

      # By checking out the repo after installing cargo-shear, we will install shear
      # with the runners default Rust version, and not the one specified in the toolchain file.
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run cargo shear in all workspaces
        shell: bash
        run: |
          workspaces=$(find . -name Cargo.lock -type f -exec dirname {} \;)
          for workspace in $workspaces; do
              echo ""
              echo "[#] Checking workspace: $workspace"
              echo ""
              cargo shear "$workspace"
          done
