name: Rust - Unused dependencies
on:
    pull_request:
        paths:
            - .github/workflows/rust-unused-dependencies.yml
            - '**/*.rs'
            - '**/Cargo.toml'
    # Check if requested manually from the Actions tab
    workflow_dispatch:
jobs:
    prepare-containers:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v3

        - name: Fetch container image names
          run: |
            echo "inner_container_image_linux=$(cat ./building/linux-container-image.txt)" >> $GITHUB_ENV
            echo "inner_container_image_android=$(cat ./building/android-container-image.txt)" >> $GITHUB_ENV

      outputs:
        container_image_linux: "${{ env.inner_container_image_linux }}"
        container_image_android: "${{ env.inner_container_image_android }}"

    cargo-udeps-linux:
        needs: prepare-containers
        runs-on: ubuntu-latest
        container:
          image: "${{ needs.prepare-containers.outputs.container_image_linux }}"

        steps:
            # Fix for HOME path overridden by GH runners when building in containers, see:
            # https://github.com/actions/runner/issues/863
            - name: Fix HOME path
              run: echo "HOME=/root" >> $GITHUB_ENV

            - name: Checkout repository
              uses: actions/checkout@v3

            - name: Checkout binaries submodule
              run: git submodule update --init --depth=1 dist-assets/binaries

            - name: Install nightly Rust toolchain
              run: rustup default nightly

            - uses: taiki-e/install-action@v2
              with:
                tool: cargo-udeps

            - name: Check for unused dependencies
              shell: bash
              run: source env.sh && cargo +nightly udeps --workspace

    cargo-udeps-android:
        needs: prepare-containers
        runs-on: ubuntu-latest
        container:
          image: "${{ needs.prepare-containers.outputs.container_image_android }}"

        steps:
            # Fix for HOME path overridden by GH runners when building in containers, see:
            # https://github.com/actions/runner/issues/863
            - name: Fix HOME path
              run: echo "HOME=/root" >> $GITHUB_ENV

            - name: Checkout repository
              uses: actions/checkout@v3

            - name: Install nightly Rust toolchain
              run: |
                rustup default nightly
                rustup target add aarch64-linux-android --toolchain nightly

            - uses: taiki-e/install-action@v2
              with:
                tool: cargo-udeps

            - name: Check for unused dependencies
              run: cargo +nightly udeps --target aarch64-linux-android --package mullvad-jni

    cargo-udeps:
        strategy:
            matrix:
                os: [macos-latest, windows-latest]
        runs-on: ${{ matrix.os }}

        steps:
            - name: Checkout repository
              uses: actions/checkout@v3

            - name: Install Protoc
              uses: arduino/setup-protoc@v1
              with:
                  repo-token: ${{ secrets.GITHUB_TOKEN }}

            - name: Install Rust
              uses: actions-rs/toolchain@v1.0.6
              with:
                  toolchain: nightly
                  default: true
                  profile: minimal

            - uses: taiki-e/install-action@v2
              with:
                tool: cargo-udeps

            - name: Check for unused dependencies
              run: cargo +nightly udeps --workspace
