---
name: Rust - Unused dependencies
on:
  pull_request:
    paths:
      - .github/workflows/rust-unused-dependencies.yml
      - '**/*.rs'
      - '**/Cargo.toml'
  workflow_dispatch:

permissions: {}

jobs:
  cargo-shear:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install cargo-shear
        uses: taiki-e/install-action@cargo-shear

      - name: Run cargo shear in all workspaces
        shell: bash
        run: |
          workspaces=$(find . -name Cargo.lock -type f -exec dirname {} \;)
          for workspace in $workspaces; do
              echo ""
              echo "[#] Checking workspace: $workspace"
              echo ""
              cargo shear "$workspace"
          done
