---
name: Translation check
on:
  pull_request:
    paths:
      - .github/workflows/translations.yml
      - android/translations-converter/**
      - android/lib/resource/src/**/plurals.xml
      - android/lib/resource/src/**/strings.xml
      - gui/**
  workflow_dispatch:
jobs:
  check-translations:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Read volta info
        id: volta
        uses: zoexx/github-action-json-file-properties@release
        with:
          file_path: 'gui/package.json'
          prop_path: 'volta'

      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ steps.volta.outputs.node }}
          cache: 'npm'
          cache-dependency-path: gui/package-lock.json

      - name: Update NPM
        run: npm i -g npm@${{ steps.volta.outputs.npm }}

      - name: Install JS dependencies
        working-directory: gui
        run: npm ci

      - name: Install Rust
        uses: actions-rs/toolchain@v1.0.6
        with:
          toolchain: stable
          default: true

      - name: Verify translations
        run: scripts/localization verify
