---
name: Translation check
on:
  pull_request:
    paths:
      - .github/workflows/translations.yml
      - android/translations-converter/**
      - android/lib/resource/src/**/plurals.xml
      - android/lib/resource/src/**/strings.xml
      - desktop/packages/mullvad-vpn/**
      - '!**/osv-scanner.toml'
  workflow_dispatch:

permissions: {}

jobs:
  check-translations:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version-file: desktop/package.json
          cache: 'npm'
          cache-dependency-path: desktop/package-lock.json

      - name: Install JS dependencies
        working-directory: desktop
        shell: bash
        run: npm ci

      - name: Install Rust
        uses: actions-rs/toolchain@v1.0.6
        with:
          toolchain: stable
          default: true

      - name: Verify translations
        shell: bash
        run: scripts/localization verify
