---
name: Translation check
on:
  pull_request:
    paths:
      - .github/workflows/translations.yml
      - android/translations-converter/**
      - android/app/src/**/plurals.xml
      - android/app/src/**/strings.xml
      - gui/**
  workflow_dispatch:
jobs:
  check-translations:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Setup volta
        uses: volta-cli/action@v4

      - name: Get npm cache directory path
        id: npm-cache-dir-path
        run: echo "::set-output name=dir::$(npm config get cache)"

      - name: Cache npm dependencies
        uses: actions/cache@v3
        with:
          path: ${{ steps.npm-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-

      - name: Install JS dependencies
        working-directory: gui
        run: npm ci

      - name: Install Rust
        uses: actions-rs/toolchain@v1.0.6
        with:
          toolchain: stable
          default: true

      - name: Verify translations
        run: scripts/localization verify
