pkgbase = patched-mullvad-vpn
	pkgdesc = Unofficial patched Mullvad VPN client app
	pkgver = 2026.2.beta1
	pkgrel = 1
	url = https://github.com/tritaum/ip-split-tunneling-mullvad
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = git
	makedepends = go
	makedepends = nodejs
	makedepends = npm
	makedepends = protobuf
	makedepends = rpm-tools
	depends = alsa-lib
	depends = gtk3
	depends = iputils
	depends = libnftnl
	depends = libnotify
	depends = nss
	source = git+https://github.com/tritaum/ip-split-tunneling-mullvad.git#tag=2026.2-beta1
	source = patched-mullvad-vpn.sh
	sha256sums = SKIP
	sha256sums = a59c29f07b4eab9af56f0e8be42bae0d83726f5185e88de0c5a48f4098c3c0a4

pkgname = patched-mullvad-vpn
	pkgdesc = Unofficial patched Mullvad VPN client app (desktop application)
	install = patched-mullvad-vpn.install
	depends = alsa-lib
	depends = gtk3
	depends = iputils
	depends = libnftnl
	depends = libnotify
	depends = nss
	depends = patched-mullvad-vpn-daemon
	optdepends = libappindicator: tray icon
	provides = mullvad-vpn
	conflicts = mullvad-vpn
	conflicts = mullvad-vpn-bin
	conflicts = patched-mullvad-vpn-bin

pkgname = patched-mullvad-vpn-daemon
	pkgdesc = Unofficial patched Mullvad VPN client app (daemon and CLI)
	install = patched-mullvad-vpn-daemon.install
	depends = dbus
	depends = iputils
	depends = libnftnl
	provides = mullvad-vpn-daemon
	conflicts = mullvad-vpn-daemon
	conflicts = mullvad-vpn-daemon-bin
	conflicts = patched-mullvad-vpn-daemon-bin
